.field-status-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.field-status {
    border: solid 2px;
    margin: 0 0 -2px -2px;
    justify-content: center;
}

.field-status.field-surface {
    grid-row: 1;
    grid-column: 1;
}

.field-status.field-guidance {
    grid-row: 2;
    grid-column: 1;
}

.field-status .field-name::before {
    display: inline-block
}

.field-status.field-guidance .field-name::before {
    content: url('../public/assets/img/number-1.png');
}

.field-status.field-mausoleum {
    grid-row: 2;
    grid-column: 2;
}

.field-status.field-mausoleum .field-name::before {
    content: url('../public/assets/img/number-2.png');
}

.field-status.field-sun {
    grid-row: 2;
    grid-column: 3;
}

.field-status.field-sun .field-name::before {
    content: url('../public/assets/img/number-3.png');
}

.field-status.field-spring {
    grid-row: 2;
    grid-column: 4;
}

.field-status.field-spring .field-name::before {
    content: url('../public/assets/img/number-4.png');
}

.field-status.field-inferno {
    grid-row: 3;
    grid-column: 1;
}

.field-status.field-inferno .field-name::before {
    content: url('../public/assets/img/number-5.png');
}

.field-status.field-extinction {
    grid-row: 3;
    grid-column: 2;
}

.field-status.field-extinction .field-name::before {
    content: url('../public/assets/img/number-6.png');
}

.field-status.field-twin {
    grid-row: 3;
    grid-column: 3;
}

.field-status.field-twin .field-name::before {
    content: url('../public/assets/img/number-7.png');
}

.field-status.field-endless {
    grid-row: 3;
    grid-column: 4;
}

.field-status.field-endless .field-name::before {
    content: url('../public/assets/img/number-8.png');
}

.field-status.field-shrine {
    grid-row: 4;
}

.field-status.field-shrine .field-name::before {
    content: url('../public/assets/img/number-9.png');
}

.field-status.field-illusion {
    grid-row: 5;
    grid-column: 1;
}

.field-status.field-illusion .field-name::before {
    content: url('../public/assets/img/number-1.png');
    transform: scaleX(-1);
}

.field-status.field-graveyard {
    grid-row: 5;
    grid-column: 2;
}

.field-status.field-graveyard .field-name::before {
    content: url('../public/assets/img/number-2.png');
    transform: scaleX(-1);
}

.field-status.field-moonlight {
    grid-row: 5;
    grid-column: 3;
}

.field-status.field-moonlight .field-name::before {
    content: url('../public/assets/img/number-3.png');
    transform: scaleX(-1);
}

.field-status.field-goddess {
    grid-row: 5;
    grid-column: 4;
}

.field-status.field-goddess .field-name::before {
    content: url('../public/assets/img/number-4.png');
    transform: scaleX(-1);
}

.field-status.field-ruin {
    grid-row: 6;
    grid-column: 1;
}

.field-status.field-ruin .field-name::before {
    content: url('../public/assets/img/number-5.png');
    transform: scaleX(-1);
}

.field-status.field-birth {
    grid-row: 6;
    grid-column: 2;
}

.field-status.field-birth .field-name::before {
    content: url('../public/assets/img/number-6.png');
    transform: scaleX(-1);
}

.field-status.field-dc {
    grid-row: 6;
    grid-column: 4;
}

.field-status.field-dc .field-name::before {
    content: url('../public/assets/img/number-8.png');
    transform: scaleX(-1);
}

.field-status.field-surface-time {
    grid-row: 7;
    grid-column: 1;
}

.field-status.field-guidance-time {
    grid-row: 7;
    grid-column: 2;
}

.field-status.field-mausoleum-time {
    grid-row: 7;
    grid-column: 3;
}

.field-status.field-hell-temple {
    grid-row: 8;
}

.field-name {
    font-weight: bold;
}

.connections-list,
.npc-list {
    padding: 0 0 0 1em;
    margin: 0.2em;
}

.connection-item {
    padding: 0;
}

.ammo-status-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ammo-status {
    border: solid 2px;
    margin: 0 0 -2px -2px;
    justify-content: center;
}

.ammo-name {
    font-weight: bold;
}

.ammo-status.shuriken-ammo {
    grid-column: 1;
    grid-row: 1;
}

.ammo-status.rolling-shuriken-ammo {
    grid-column: 2;
    grid-row: 1;
}

.ammo-status.earth-spear-ammo {
    grid-column: 3;
    grid-row: 1;
}

.ammo-status.flare-gun-ammo {
    grid-column: 4;
    grid-row: 1;
}

.ammo-status.bomb-ammo {
    grid-column: 5;
    grid-row: 1;
}

.ammo-status.chakram-ammo {
    grid-column: 1;
    grid-row: 2;
}

.ammo-status.caltrops-ammo {
    grid-column: 2;
    grid-row: 2;
}

.ammo-status.pistol-ammo {
    grid-column: 3;
    grid-row: 2;
}

.ammo-sources-list {
    padding: 0 0 0 1em;
    margin: 0.2em;
}

.ammo-sources-item {
    padding: 0;
}
